<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnessapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fitnessapp">
        <activity android:name=".TricepsMain"></activity>
        <activity android:name=".TricepsWorkout1"></activity>
        <activity android:name=".TricepsWorkout2"></activity>
        <activity android:name=".TricepsWorkout3"></activity>
        <activity android:name=".ChestMain"></activity>
        <activity android:name=".ChestWorkout1"></activity>
        <activity android:name=".ChestWorkout2"></activity>
        <activity android:name=".ChestWorkout3"></activity>
        <activity android:name=".ForearmMain"></activity>
        <activity android:name=".ForearmWorkout1"></activity>
        <activity android:name=".ForearmWorkout2"></activity>
        <activity android:name=".ForearmWorkout3"></activity>
        <activity android:name=".LegsMain"></activity>
        <activity android:name=".LegsWorkout1"></activity>
        <activity android:name=".LegsWorkout2"></activity>
        <activity android:name=".LegsWorkout3"></activity>
        <activity android:name=".ShouldersMain"></activity>
        <activity android:name=".ShouldersWorkout1"></activity>
        <activity android:name=".ShouldersWorkout2"></activity>
        <activity android:name=".ShouldersWorkout3"></activity>
        <activity android:name=".CalvesWorkout1"></activity>
        <activity android:name=".CalvesWorkout2"></activity>
        <activity android:name=".CalvesWorkout3"></activity>
        <activity android:name=".CalvesMain" />
        <activity android:name=".BicepsWorkout3" />
        <activity android:name=".BicepsWorkout2" />
        <activity android:name=".BicepsWorkout1" />
        <activity android:name=".BackWorkout3" />
        <activity android:name=".BackWorkout2" />
        <activity android:name=".BackWorkout1" />
        <activity android:name=".AbsWorkout3" />
        <activity android:name=".AbsWorkout2" />
        <activity android:name=".AbsWorkout1" />
        <activity android:name=".BicepsMain" />
        <activity android:name=".BackMain" />
        <activity android:name=".AbsMain" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>